main.fullheight {
    min-height: 100vh;
}

.content {
    max-width: var(--site-max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;
}

.content .actualcontent {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
}

.content .actualcontent .first {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.backgroundcontainer {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 8rem 0;
}

.backgroundcontainer img {
    display: block;
    max-width: 80vw;
    max-height: 100%;
    margin-bottom: -225px;
    align-self: flex-end;
}

@media (min-width: 960px) {
    .content .actualcontent {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0;
    }

    .backgroundcontainer {
        flex-direction: row;
    }

    .backgroundcontainer img {
        margin-bottom: 0;
        max-width: 50vw;
    }
}

@media (min-width: 1280px) {
    .content {
        padding: 0;
    }
}
