.post,
.post * {
    max-width: 100%;
}

.post {
    margin-bottom: 8rem;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    margin-top: 1.6rem;
    margin-bottom: 1.2rem;
}

.post img {
    display: block;
    margin: 1.6rem auto;
}

.post ul {
    list-style: disc;
    margin-left: 1.2rem;
}

.post ol {
    list-style-type: decimal;
    margin-left: 1.2rem;
}

@media (min-width: 960px) {
    .post {
        margin-bottom: 4rem;
    }
}
