:root {
    --site-max-width: 1280px;
    --primary-color: #1D1FDD;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a.underlined {
    padding-bottom: .4rem;
    border-bottom: 4px solid var(--primary-color);
}

* {
    box-sizing: border-box;
}
